.venv
.vscode
%USERPROFILE%
key.env
kaggle.json

# MRIData
Mild Dementia
Moderate Dementia
Non Demented
Very mild Dementia

# BMData
patient_records.csv

# SPData

deprecatedfunctions/__pycache__/
checkpoints/*.pt
checkpoints/mri_training_session.pt
checkpoints/biomarker_training_session.pt
